<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Ứng dụng cần truy cập máy ảnh để bạn có thể chụp ảnh và thêm vào ghi chú.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ứng dụng cần truy cập thư viện ảnh để bạn có thể chọn ảnh cho ghi chú.</string>
</dict>
</plist>
